body
{
    background-color: #fafafd;
    color: #282828;
    font-family: Segoe UI, sans-serif;
    text-align: center;
}

a, a:visited
{
    color: royalblue;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

#content
{
    display: inline-block;
    margin-bottom: 64px;
    text-align: left;
    width: 60%;
}
#content > header
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    justify-content: space-around;
    min-height: 96px;
}
#content > header > span
{
    flex-grow: 1;
}
@media (max-width: 768px)
{
    #content { width: 90%; }
}
