body
{
    background-color: #313133;
    color: var(--grey-10);
}

a       { color: var(--blue-40); }
a:hover { color: var(--blue-40); }

input[type="password"]
{
	background-color: var(--grey-60);
	border: 1px solid;
    color: white;
}

.section-header { border-bottom-color: #808080; }

#on-hold-animation-gear-A,
#on-hold-animation-gear-B
{
    filter: invert(75%);
}

#footer { background-color: #0f0f0f; }
#footer > .icon-button        { filter: invert(100%); }
#footer > .icon-button:hover  { filter: invert(50%);  }
#footer > .icon-button:active { filter: invert(100%);   }

#extension-info { color: var(--grey-40); }

@keyframes flash-red
{
    0%   { background-color: var(--grey-60); }
    100% { background-color: #ff0028;        }
}
