/* Top-level */
body
{
    background-color: white;
    height: 384px;
    overflow: hidden;
    width: 256px;
}

/* Header */
#header { height: 1.5em; }

/* General */
.deactivated { display: none; }

/* Buttons - large */
button.large
{
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    width: 156px;
}
button.large > label
{
    font-size: 1.2em;
    text-align: center;
}
button.large > img
{
    height: 48px;
    margin: 4px;
    width: 48px;
}

/* Buttons - flavours */
button.private        { background-color: var(--purple-60); }
button.private:hover  { background-color: var(--purple-70); }
button.private:active { background-color: var(--purple-80); }

/* Images */
img { box-sizing: border-box; }

/* Panels - General */
.panel
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 228px;
    justify-content: center;
    padding: 16px;
}
.panel.centering   { align-items: center;     }
.panel.deactivated { display: none;           }
.panel.form        { align-items: flex-start; }

/* Panel - On hold */
@keyframes rotate-clockwise
{
    0%   { transform: unset;         }
    100% { transform: rotate(1turn); }
}
@keyframes rotate-counterclockwise
{
    0%   { transform: unset;          }
    100% { transform: rotate(-1turn); }
}
#on-hold-animation-gear-A
{
    animation: rotate-clockwise 3s infinite;
    animation-timing-function: linear;
    left: 24px;
    position: relative;
    top: 24px;
}
#on-hold-animation-gear-B
{
    animation: rotate-counterclockwise 3s infinite;
    animation-timing-function: linear;
    left: -24px;
    position: relative;
    top: -24px;
}
#on-hold-progress-bar
{
    --animation-cycle-period: 0.75s;
    --bar-height: 24px;
    --stripe-width: 8px;

    width: 100%;
}

/* Panel - Success and error */
#error-panel,
#success-panel
{
    justify-content: space-around;
}
#error-panel > img,
#success-panel > img
{
    height: 64px;
    width: 64px;
}

/* Panel - Password setup */
#password-setup-buttons-container
{
    justify-content: space-around;
}
#password-setup-buttons-container > button > img
{
    height: 16px;
    width: 16px;
}
.validation-icon
{
    border-radius: 50%;
    height: 16px;
    margin: 4px;
    padding: 4px;
    visibility: hidden;  /* Only initially */
    width: 16px;
}
img.validation-icon[src*="correct_white"]
{
    background-color: var(--green-70);
}
img.validation-icon[src*="incorrect_white"]
{
    background-color: var(--red-60);
}

/* Panel - Main menu */
#main-menu-panel > .primary-buttons-container > button > img
{
    height: 64px;
    width: 64px;
}
#main-menu-panel > .secondary-buttons-container > button
{
    height: auto;
    width: 100%;
}
#main-menu-panel > .secondary-buttons-container > button > img
{
    height: 24px;
    margin-left: 8px;
    width: 24px;
}

/* Panel - Authentication */
#authentication-password-input.animated
{
    animation: flash-red 0.2s 2;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

#authentication-buttons-container
{
    align-items: flex-start;
    flex-direction: column;
}
#authentication-buttons-container > button
{
    width: 100%;
    height: auto;
}
#authentication-buttons-container > button > label
{
    text-align: left;
}
#authentication-buttons-container > button > img
{
    height: 24px;
    width: 24px;
}

/* Footer */
#footer
{
    align-items: center;
    border: 1px solid var(--grey-40);
    display: flex;
    flex-direction: row;
    height: 3em;
    padding-left: 8px;
}
#extension-info { font-size: 0.85em; }
#extension-info + .icon-button { margin-left: 4px; }
#footer > .icon-button
{
    cursor: pointer;
    height: 28px;
    padding: 4px;
    width: 28px;
}

/* Media responsiveness */
@media (min-width: 768px)
{
    body
    {
        height: 100vh;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .panel { flex-grow: 0.25; }
}
