/* We assume the presence of the following variables:
      animation-cycle-period,
      bar-height,
      stripe-width
*/
@keyframes progress-bar-cycle
{
    0% { background-position: 0 0; }
    100%
    {
        /* We calculate the rendered width of each stripe from its pre-rotation width, and assume a
           rotation angle of 45 degrees. Because the striped pattern alternates, two times that
           offset is where we need to be at in the last keyframe for the loop to be seamless.
        */
        --sqrt-2: 1.414;
        --offset-x: calc(-2 * var(--sqrt-2) * var(--stripe-width));

        background-position: var(--offset-x) 0;
    }
}
.progress-indicator
{
    --gradient-stop-A: var(--stripe-width);
    --gradient-stop-B: calc(var(--gradient-stop-A) + var(--stripe-width));

    animation: progress-bar-cycle var(--animation-cycle-period) linear infinite;
    background: repeating-linear-gradient(
        45deg,
        var(--green-50),
        var(--green-50) var(--gradient-stop-A),
        var(--green-60) var(--gradient-stop-A),
        var(--green-60) var(--gradient-stop-B)
    );
    background-size: 200%;  /* Avoid reaching image edge during animation. */
    height: var(--bar-height);
    transition: width 0.25s linear;
    width: 0;
}
