/* Top-level */
:root
{
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;
    --ink-70: #363959;
    --ink-80: #202340;
    --ink-90: #0f1126;
}
body
{
    background: transparent;
    box-sizing: border-box;
    color: var(--grey-90);
    cursor: default;
    font: caption;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
}

/* General */
.browser-style
{
    -moz-appearance: none;
    margin-bottom: 6px;
}
.section-header
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 1.385em;
    font-weight: lighter;
    padding: 16px;
}
.section
{
    padding: 16px;
}
.section-item
{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

/* Anchors */
a
{
    color: var(--blue-60);
    cursor: pointer;
    text-decoration: none;
}
a:hover
{
    color: var(--blue-70);
    text-decoration: underline;
}
a[href*="//"]::after
{
    background: url(/icons/photon/open-in-new_blue.svg) no-repeat;
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin: -0.3rem 0.15rem 0;
    vertical-align: middle;
    width: 16px;
}
a.inline-with-margin { margin-left: 8px; }

/* Input - General */
label + input { margin-left: 6px; }

/* Buttons */
button
{
    align-items: center;
    background-color: #0996f8;
    border: 0;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    display: flex;
    font: caption;
    font-size: 1em;
    height: auto;
    padding: 8px;
    transition-duration: 250ms;
    transition-property: box-shadow;
}
button:focus { box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75); }
button:hover { background-color: #0670cc; }
button:active { background-color: #005bab; }
button.disabled { opacity: 0.5; }

button > label { flex-grow: 1; }
button > label + img { margin-left: 6px; }
button > img
{
    height: 28px;
    width: 28px;
}

button.positive
{
    background-color: var(--green-70);
    border-color: var(--green-70);
}
button.positive:hover  { background-color: var(--green-80); }
button.positive:active { background-color: var(--green-90); }

button.negative
{
    background-color: var(--red-60);
    border-color: var(--red-60);
}
button.negative:hover  { background-color: var(--red-70); }
button.negative:active { background-color: var(--red-80); }

/* Checkboxes */
input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { -moz-user-select: none; }
input[type="checkbox"] + label::before
{
    background-color: #fff;
    background-position: center;
    border: 1px solid #b1b1b1;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    vertical-align: text-top;
    width: 16px;
}
input[type="checkbox"]:hover + label::before
{
    background-color: #fbfbfb;
    border-color: #b1b1b1;
}
input[type="checkbox"]:hover:active + label::before
{
    background-color: #ebebeb;
    border-color: #858585;
}
input[type="checkbox"]:checked + label::before
{
    background-color: #0996f8;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNNy43LDEyLjkgQzcuNCwxMy4zIDYuOCwxMy40IDYuNCwxMyBMMy4yLDkuOCBDMi44LDkuNCAyLjgsOC42IDMuMiw4LjIgQzMuNiw3LjggNC40LDcuOCA0LjgsOC4yIEw2LjksMTAuMyBMMTEuMSw0LjQgQzExLjUsMy45IDEyLjIsMy44IDEyLjcsNC4xIEMxMy4yLDQuNSAxMy4zLDUuMiAxMyw1LjcgTDcuNywxMi45IEw3LjcsMTIuOSBaIiBmaWxsPSIjZmZmIiAvPgo8L3N2Zz4K);
    border-color: #0670cc;
}
input[type="checkbox"]:checked:hover + label::before
{
    background-color: #0670cc;
    border-color: #005bab;
}
input[type="checkbox"]:checked:hover:active + label::before
{
    background-color: #005bab;
    border-color: #004480;
}

/* Messages */
.message-container
{
    align-items: center;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: flex;
}
.message-container > * + button { margin-left: 8px; }
.message-container > .message
{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 16px 0 4px;
}
.message-container > .message::before
{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
}

.message-container.error
{
    background-color: var(--red-60);
    color: white;
}
.message-container.error > .message::before
{
    background-image: url(/icons/photon/warning_white.svg);
}

.message-container.info
{
    background-color: var(--blue-60);
    color: white;
}
.message-container.info > .message::before
{
    background-image: url(/icons/photon/warning_white.svg);
}

.message-container.success
{
    background-color: var(--green-60);
    color: white;
}
.message-container.success > .message::before
{
    background-image: url(/icons/main/correct_white.svg);
}

.message-container.warning
{
    background: repeating-linear-gradient(
        45deg,
        var(--grey-90),
        var(--grey-90) 24px,
        var(--yellow-50) 24px,
        var(--yellow-50) 48px
    );
    color: white;
}
.message-container.warning > .message { background-color: #000000AA; }
.message-container.warning > .message::before
{
    background-image: url(/icons/photon/warning_white.svg);
}
