body { overflow-y: hidden; }

@keyframes fade-in
{
    from { height: 0;    opacity: 0; }
    to   { height: 32px; opacity: 1; }
}
.fading-in { animation: fade-in 0.25s ease-out forwards; }

.message-container
{
    height: 0;
    display: none;
    opacity: 0;
}
