body { overflow-y: hidden; }

button.small
{
    height: 24px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 4px 0 4px;
}
button.small > img
{
    height: 12px;
    margin: 2px;
    width: 12px;
}

@keyframes fade-in
{
    0%   { height: 0;   opacity: 0; }
    50%  { height: 3em; opacity: 0; }
    100% { height: 3em; opacity: 1; }
}
.fading-in { animation: fade-in 0.5s ease-out forwards; }

.message-container
{
    height: 0;
    display: none;
    opacity: 0;
}
.message-container > button { display: none; }

#import-button-panel   { display: none; }
#import-password-panel { display: none; }

#sync-data-usage-statistics { display: none; }
