body {
    overflow-y: hidden;
}

button.small {
    height: 24px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 4px 0 4px;
}
button.small > img {
    height: 12px;
    margin: 2px;
    width: 12px;
}

@keyframes fade-in {
    0% {
        height: 0;
        opacity: 0;
    }
    50% {
        height: 5em;
        opacity: 0;
    }
    100% {
        height: 5em;
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.message-container {
    height: 0;
    display: none;
    opacity: 0;
}
.message-container.active {
    display: flex;
    animation: fade-in 0.5s ease-out forwards;
}

#import-button-panel {
    display: none;
}
#import-button-panel.active {
    display: unset;
}

#import-password-panel {
    display: none;
}
#import-password-panel.active {
    display: unset;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #23222b;
        color: var(--grey-10);
    }

    a {
        color: var(--blue-40);
        cursor: pointer;
        text-decoration: none;
    }
    a:hover {
        color: var(--teal-50);
        text-decoration: underline;
    }
}
