#known-issues > header,
#whats-new > header
{
    font-size: larger;
    font-weight: bold;
}

.code
{
    background-color: #e4e4e4;
    font-size: 0.9em;
    padding: 0 4px 0 4px;
}

.notice
{
    border-radius: 10px;
    margin: 8px;
    padding: 1px 8px 1px 8px;
}
.notice.info
{
    background-color: #c1d3fd;
    color: #2c364d;
}
.notice.warning
{
    background-color: #ffd30e;
    color: #000000;
}
